*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}
/* box sizing is given to adjust differences between padding and width*/
header{
    min-height:60vh;
    background: url("https://images.pexels.com/photos/6485507/pexels-photo-6485507.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    position:relative;

}
.bg-black{
    background-color: black;
}
.todo-list{
    text-align:left;
    font-size:1.2rem;
    list-style-type:none;
}
.todo-list li{
    width:90%;
    margin:5px;
    background-color:orangered;
}
.container{
    max-width:1200px;
    margin:auto;
    width:100%;
    align-items: center;
}
.nav{
    min-height:8vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.nav-items{
    width:40%;
    display:flex;
    list-style-type:none;
    justify-content:space-between;
    color:white;
}
.headline{
    position:absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
}
.btn{
    display:inline-block;
    outline:none;
    border:none;
    cursor:pointer;
}
.btn-headline{
    padding:1rem 2rem;
    font-size:1rem;
    margin: top 1rem;
    font-weight:500;
}
.todo-section{
    margin-top:5rem;
    text-align:center;
 
}
.todo-form{
    border:2px solid black;
    min-height:5vh;
    display:flex;
    justify-content:space-between;
}

.todo-form input{
    min-height:100%;
}

.todo-form input[type="text"]
{
    width:80%;
    padding:0.5rem;
    font-weight:500;
}
.todo-form input[type="button"]
{
    width:20%;
    background-color:#01201b;
    color:white;
}
.signup{
    margin:5rem auto;
    text-align:center;
    background-color:rgb(64, 79, 93);
    border-radius:8px;
    color:White;
}
.signupform{
    max-width:800px;
    width:95%;
    text-align:center;
    margin:auto;
}
.signupform label{
    display:block;
}
.signupform input{
    display:block;
    width:100%;
    padding:0.5rem;
}

.formgroup{
    margin-top:1rem;
}

.signup textarea{
    width:100%;
}

.signupbtn{
    background-color:#01201b;
    color:white;
    padding:1rem 2rem;
    display:inline-block;
    margin:auto;
}