*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

.grandparent{
    background:black;
    color:White;
    width:70px;
    height:70px;
    margin-bottom: 10px;
  }
  
  .parent{
    background:aqua;
    color:black;
    width:70px;
    height:70px;
    margin-bottom: 10px;
  }
  
  .child{
    background: #0c2d48;
    color:white;
    width:70px;
    height:70px;
    margin-bottom: 10px;
  }